{% extends "base.html" %}

{% block title_head %}
Paletas
{% endblock title_head %}
{% block h1_header %}Listado de paletas{% endblock h1_header %}

{% block main %}
<a href={% url "productos:crear_paleta" %}>Crear paleta</a>
{% comment %} 

<p>
    <form action={% url "inicio:listado_autos" %}>
        
        {{formulario}}
    
        <input type="submit" value='Buscar'>
    
    </form>
</p> {% endcomment %}

{% if listado_paletas %}
<ul>
    {% for paleta in listado_paletas %}
    <li>
        {{paleta}}
        | <a href={% url 'productos:ver_paleta' paleta.id %}>Ver</a>
        | <a href={% url 'productos:editar_paleta' paleta.id %}>Editar</a>
        | <a href={% url 'productos:eliminar_paleta' paleta.id %}>Eliminar</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No se encuentran paletas.</p>
{% endif %}
{% endblock main %}
