{% extends "base.html" %}
{% block title_head %}
Perfil
{% endblock title_head %}
{% block h1_header %}Perfil de {{request.user.first_name}} {{request.user.last_name}}{% endblock h1_header %}

{% block main %}
<ul>
    <li>Usuario: {{request.user.username}}</li>
    <li>Nombre: {{request.user.first_name}}</li>
    <li>Apellido: {{request.user.last_name}}</li>
    <li>Email: {{request.user.email}}</li>
    <li>Avatar:
    {% if request.user.infousuario.avatar %}
         <img src={{request.user.infousuario.avatar.url}} alt="Imagen del avatar" height="200px">
    {% endif %}
    </li>
</ul>
<p>
    <a href={% url "usuarios:editar_perfil" %}>Editar Datos</a>
</p>
<a href={% url "usuarios:cambiar_contrasenia" %}>Cambiar contrasenia</a>
{% endblock main %}
